body{
  background-color: #202123a2;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card{
  position: relative;
  margin: 150px auto;
  width: 450px;
  padding: 40px;
  border-radius: 16px;
  background-color: #2419c4a1;
}
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 208, 208);
}
.card div{
  margin-top: 12px;
}
label{
  color: rgb(165, 213, 240);
  padding-left: 4px;
  font-size: 25px;
  font-family: "";
}
error{
  font-size: 10px;
  color: #7a000b;
}
input{
  width: 450px;
  height: 40px;
  background-color: #edf2f5;
  font-size: 24px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 3px 4px 4px  rgba(red, green, blue, alpha);
}
.button{
  cursor: pointer;
  width: 160px;
  color: #fff;
  height: 40px;
  background-color: #fd590d;
  border: 0;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  border-radius: 0.25rem;
  margin-top: 14px;
}
#address{
  display: flex;
}
.button-submit {
  background-color: rgba(224, 37, 149, 0.36);
  color: rgb(10, 5, 5);
  
  cursor: pointer;
}
.button-submit:disabled {
  background-color: rgba(30, 17, 17, 0.683);
  color: #edf2f5
  ;
}